/*.zip
adminWeb/node_modules
adminWeb/yarn.lock
adminWeb/dist
db/
Cache/
UsersCache/
server
user
static/
test/
UsersApi/usersWeb/node_modules
UsersApi/usersWeb/yarn.lock
UsersApi/usersWeb/dist
colaAPI/Client/cola.exe
colaAPI/api.txt
ImageServer/ImageCache/
config.yaml.bak
UsersApi/s.zip
ImageServer/Client/upimg.exe
RemoveLog/removeLog
计算
colaAPI/Client/cola
Manager/ManagerCache/
Users/GeoIP
Users/UsersWeb/build
Users/UsersWeb/frontend/dist
Users/UsersWeb/frontend/node_modules
Users/UsersWeb/frontend/index.html
Users/UsersWeb/frontend/package-lock.json
Users/UsersWeb/frontend/package.json
Users/UsersWeb/frontend/package.json.md5
Users/UsersWeb/frontend/READ-THIS.md
Users/UsersWeb/frontend/README.md
Users/UsersWeb/frontend/tsconfig.json
Users/UsersWeb/frontend/tsconfig.node.json
Users/UsersWeb/frontend/vite.config.ts
Users/UsersWeb/frontend/yarn.lock
Users/UsersWeb/frontend/wailsjs/runtime
Users/UsersWeb/README.md
Manager/ManagerWeb/build
Manager/ManagerWeb/frontend/dist
Manager/ManagerWeb/frontend/node_modules
Manager/ManagerWeb/frontend/index.html
Manager/ManagerWeb/frontend/package-lock.json
Manager/ManagerWeb/frontend/package.json
Manager/ManagerWeb/frontend/package.json.md5
Manager/ManagerWeb/frontend/READ-THIS.md
Manager/ManagerWeb/frontend/README.md
Manager/ManagerWeb/frontend/tsconfig.json
Manager/ManagerWeb/frontend/tsconfig.node.json
Manager/ManagerWeb/frontend/vite.config.ts
Manager/ManagerWeb/frontend/yarn.lock
Manager/ManagerWeb/frontend/wailsjs/runtime
Manager/ManagerWeb/README.md
UpdatesAccount/client